@model QLSaiGonTech.Models.CandidateType

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using(Html.BeginForm("Create","CandidateType",FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(model=>model.ID_CANDIDATE)</td>
                <td>@Html.TextBoxFor(model=>model.ID_CANDIDATE)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model=>model.CANDIDATENAME)</td>
                <td>@Html.TextBoxFor(model=>model.CANDIDATENAME)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Create" /></td>
               
            </tr>

        </table>



    }
</body>
</html>
