.content-main {
    width: 100%;
}

thead {
    background-color: #1E7BCB;
}

@media (min-width: 992px) {
    .modal-lg {
      max-width: 60%; } 
}

.card-header h3 {
    text-align: center;
}

.deletelink {
    color: red;
}

.deletelink:hover {
    color: crimson;
}

.addbutton {
    float: right;
}

#codeDoc {
    position: relative;
    top: 30px;
    left: -100px;
    font-size: 12px;
}

#inputDocumentCode {
    padding-left: 100px;
}