@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        võ duy quang
        <button id="mot">click</button>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
      @*  <script>
            $("#id").click(function () {
            }
            );
        </script>*@
    </div>
</body>
</html>
