USE [master]
GO
/****** Object:  Database [SaigonTech]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE DATABASE [SaigonTech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaigonTech', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SaigonTech.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SaigonTech_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SaigonTech_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaigonTech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaigonTech]
GO
/****** Object:  Table [dbo].[CANDIDATE]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANDIDATE](
	[ID] [int] NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
	[CATALOG_ID] [int] NOT NULL,
	[DISTRICT_ID] [int] NOT NULL,
	[EDUCATION_ID] [int] NOT NULL,
	[YEAR_ID] [int] NULL,
	[TYPE_ID] [int] NOT NULL,
	[INTAKE_ID] [int] NOT NULL,
	[SEM_ID] [int] NULL,
	[DIS_DISTRICT_ID] [int] NOT NULL,
	[CANDIDATE_ID] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](100) NOT NULL,
	[FIRSTNAME] [varchar](100) NOT NULL,
	[BIRTHDAY] [datetime] NOT NULL,
	[GENDER] [int] NOT NULL,
	[PHONENUMBER] [varchar](10) NOT NULL,
	[ADDRESS] [varchar](200) NULL,
	[MARITALSTATUS] [int] NULL,
	[HIGHSCHOOLNAME] [varchar](200) NULL,
	[HIGHSCHOOLCITY] [varchar](200) NULL,
	[GRADUATEYEAR] [int] NULL,
	[REGISTRYDATE] [datetime] NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[IDCARD] [varchar](20) NOT NULL,
	[FINALRESULT] [bit] NULL,
	[DOCUMENTCODE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANDIDATEDOCUMENT]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATEDOCUMENT](
	[NOTE] [text] NULL,
	[ID_NOTE] [numeric](11, 0) IDENTITY(1,1) NOT NULL,
	[DOC_ID] [int] NOT NULL,
	[ID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CANDIDATETYPE]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANDIDATETYPE](
	[TYPE_ID] [int] NOT NULL,
	[TYPENAME] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATALOG]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOG](
	[CATALOG_ID] [int] NOT NULL,
	[BEGINYEAR] [int] NOT NULL,
	[ENDYEAR] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[COUNTRY_ID] [int] NOT NULL,
	[COUNTRYNAME] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[DISTRICT_ID] [int] NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
	[DISTRICTNAME] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[DOC_ID] [int] NOT NULL,
	[NAMEINENGLISH] [varchar](100) NOT NULL,
	[NAMEINVIETNAMESE] [varchar](100) NOT NULL,
	[SEQUENCENUM] [int] NOT NULL,
	[INPUTTYPE] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[NOTE] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EDUCATION]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EDUCATION](
	[EDUCATION_ID] [int] NOT NULL,
	[EDUCATIONNAME] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXAMSUBJECT]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXAMSUBJECT](
	[EXAM_ID] [int] NOT NULL,
	[EXAMNAME] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INTAKE]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTAKE](
	[INTAKE_ID] [int] NOT NULL,
	[INTAKENAME] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAJOR]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAJOR](
	[MAJOR_ID] [int] NOT NULL,
	[MAJOR_NAME] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARAMETER]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETER](
	[YEAR_ID] [int] NOT NULL,
	[SEM_ID] [int] NOT NULL,
	[INTAKE_ID] [int] NOT NULL,
	[SIGNATURENAME] [varchar](200) NOT NULL,
	[MORECONTACT] [varchar](200) NOT NULL,
	[DOCUMENTCODE] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVINCE]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCE](
	[PROVINCE_ID] [int] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[PROVINCENAME] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCORE_EXAM]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE_EXAM](
	[SUMSCORE] [decimal](18, 0) NULL,
	[SCOREPASS] [decimal](18, 0) NULL,
	[SCORE_ID] [int] NOT NULL,
	[EXAM_ID] [int] NOT NULL,
	[MAJOR_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[SEM_ID] [int] NOT NULL,
	[SEMESTERNAME] [varchar](200) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAGE]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAGE](
	[STAGE_ID] [int] NOT NULL,
	[SEM_ID] [int] NOT NULL,
	[YEAR_ID] [int] NOT NULL,
	[STAGENAME] [varchar](200) NOT NULL,
	[DATETIME] [datetime] NOT NULL,
	[EXAMDATE] [datetime] NOT NULL,
	[EXAMTIME] [varchar](50) NOT NULL,
	[ENGLISHTIMEEXAM] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAGEDETAILS]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAGEDETAILS](
	[STAR_TIME] [varchar](50) NOT NULL,
	[END_TIME] [varchar](50) NOT NULL,
	[SCORE] [decimal](18, 0) NOT NULL,
	[INTERVIEW] [varchar](200) NULL,
	[SUBJECT] [varchar](200) NOT NULL,
	[STAGE_DETAILS_ID] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
	[STAGE_ID] [int] NOT NULL,
	[EXAM_ID] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YEAR]    Script Date: 2/24/2019 7:25:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEAR](
	[YEAR_ID] [int] NOT NULL,
	[YEARNAME] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CANDIDATEDOCUMENT] ON 

INSERT [dbo].[CANDIDATEDOCUMENT] ([NOTE], [ID_NOTE], [DOC_ID], [ID]) VALUES (N'sholarship', CAST(7 AS Numeric(11, 0)), 1, 1)
INSERT [dbo].[CANDIDATEDOCUMENT] ([NOTE], [ID_NOTE], [DOC_ID], [ID]) VALUES (N'pass English test, but apply to study Foudation of GE level', CAST(8 AS Numeric(11, 0)), 2, 2)
INSERT [dbo].[CANDIDATEDOCUMENT] ([NOTE], [ID_NOTE], [DOC_ID], [ID]) VALUES (NULL, CAST(9 AS Numeric(11, 0)), 3, 3)
SET IDENTITY_INSERT [dbo].[CANDIDATEDOCUMENT] OFF
INSERT [dbo].[CANDIDATETYPE] ([TYPE_ID], [TYPENAME]) VALUES (1, N'skipped English Exam')
INSERT [dbo].[CANDIDATETYPE] ([TYPE_ID], [TYPENAME]) VALUES (2, N'skipped Math')
INSERT [dbo].[CANDIDATETYPE] ([TYPE_ID], [TYPENAME]) VALUES (3, N'shipped Interview')
INSERT [dbo].[CATALOG] ([CATALOG_ID], [BEGINYEAR], [ENDYEAR]) VALUES (1, 2000, 2001)
INSERT [dbo].[CATALOG] ([CATALOG_ID], [BEGINYEAR], [ENDYEAR]) VALUES (2, 2004, 2005)
INSERT [dbo].[CATALOG] ([CATALOG_ID], [BEGINYEAR], [ENDYEAR]) VALUES (3, 2008, 2009)
INSERT [dbo].[COUNTRY] ([COUNTRY_ID], [COUNTRYNAME]) VALUES (1, N'VietNam')
INSERT [dbo].[COUNTRY] ([COUNTRY_ID], [COUNTRYNAME]) VALUES (2, N'Laos')
INSERT [dbo].[COUNTRY] ([COUNTRY_ID], [COUNTRYNAME]) VALUES (3, N'Campuchia')
INSERT [dbo].[DISTRICT] ([DISTRICT_ID], [PROVINCE_ID], [DISTRICTNAME]) VALUES (1, 1, N'Hoan Kiem')
INSERT [dbo].[DISTRICT] ([DISTRICT_ID], [PROVINCE_ID], [DISTRICTNAME]) VALUES (2, 1, N'Tay Ho')
INSERT [dbo].[DISTRICT] ([DISTRICT_ID], [PROVINCE_ID], [DISTRICTNAME]) VALUES (3, 2, N'Tan Binh')
INSERT [dbo].[DOCUMENT] ([DOC_ID], [NAMEINENGLISH], [NAMEINVIETNAMESE], [SEQUENCENUM], [INPUTTYPE], [STATUS], [NOTE]) VALUES (1, N'James Bone', N'Quoc Viet', 1, 1, 1, N'')
INSERT [dbo].[DOCUMENT] ([DOC_ID], [NAMEINENGLISH], [NAMEINVIETNAMESE], [SEQUENCENUM], [INPUTTYPE], [STATUS], [NOTE]) VALUES (2, N'Blade Sirius', N'Huyen Tram', 2, 2, 1, N'')
INSERT [dbo].[DOCUMENT] ([DOC_ID], [NAMEINENGLISH], [NAMEINVIETNAMESE], [SEQUENCENUM], [INPUTTYPE], [STATUS], [NOTE]) VALUES (3, N'Jessica', N'Ngoc Thy', 1, 2, 1, NULL)
INSERT [dbo].[EDUCATION] ([EDUCATION_ID], [EDUCATIONNAME]) VALUES (1, N'Graduated High School')
INSERT [dbo].[EDUCATION] ([EDUCATION_ID], [EDUCATIONNAME]) VALUES (2, N'Graduated College')
INSERT [dbo].[EDUCATION] ([EDUCATION_ID], [EDUCATIONNAME]) VALUES (3, N'Graduated Univerity')
INSERT [dbo].[EXAMSUBJECT] ([EXAM_ID], [EXAMNAME]) VALUES (1, N'General English')
INSERT [dbo].[EXAMSUBJECT] ([EXAM_ID], [EXAMNAME]) VALUES (2, N'Front-End')
INSERT [dbo].[EXAMSUBJECT] ([EXAM_ID], [EXAMNAME]) VALUES (3, N'Back-End')
INSERT [dbo].[INTAKE] ([INTAKE_ID], [INTAKENAME]) VALUES (1, N'SGT-01')
INSERT [dbo].[INTAKE] ([INTAKE_ID], [INTAKENAME]) VALUES (2, N'SGT-02')
INSERT [dbo].[INTAKE] ([INTAKE_ID], [INTAKENAME]) VALUES (3, N'SGT-03')
INSERT [dbo].[MAJOR] ([MAJOR_ID], [MAJOR_NAME]) VALUES (1, N'International Business')
INSERT [dbo].[MAJOR] ([MAJOR_ID], [MAJOR_NAME]) VALUES (2, N'Marketing')
INSERT [dbo].[MAJOR] ([MAJOR_ID], [MAJOR_NAME]) VALUES (3, N'Networking')
INSERT [dbo].[PARAMETER] ([YEAR_ID], [SEM_ID], [INTAKE_ID], [SIGNATURENAME], [MORECONTACT], [DOCUMENTCODE]) VALUES (18, 1, 8, N'Vice Chainmain', N'Dinh Thi Lan (Mother)', N'1')
INSERT [dbo].[PARAMETER] ([YEAR_ID], [SEM_ID], [INTAKE_ID], [SIGNATURENAME], [MORECONTACT], [DOCUMENTCODE]) VALUES (19, 2, 9, N'BA Manager', N'Hoang Le Vy (Father)', N'2')
INSERT [dbo].[PARAMETER] ([YEAR_ID], [SEM_ID], [INTAKE_ID], [SIGNATURENAME], [MORECONTACT], [DOCUMENTCODE]) VALUES (18, 3, 7, N'BA Manager', N'', N'3')
INSERT [dbo].[PROVINCE] ([PROVINCE_ID], [COUNTRY_ID], [PROVINCENAME]) VALUES (1, 1, N'Ha Noi')
INSERT [dbo].[PROVINCE] ([PROVINCE_ID], [COUNTRY_ID], [PROVINCENAME]) VALUES (2, 1, N'Ho Chi Minh City')
INSERT [dbo].[PROVINCE] ([PROVINCE_ID], [COUNTRY_ID], [PROVINCENAME]) VALUES (3, 1, N'Bien Hoa')
INSERT [dbo].[SCORE_EXAM] ([SUMSCORE], [SCOREPASS], [SCORE_ID], [EXAM_ID], [MAJOR_ID]) VALUES (CAST(100 AS Decimal(18, 0)), CAST(60 AS Decimal(18, 0)), 1, 1, 1)
INSERT [dbo].[SCORE_EXAM] ([SUMSCORE], [SCOREPASS], [SCORE_ID], [EXAM_ID], [MAJOR_ID]) VALUES (CAST(100 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)), 2, 2, 3)
INSERT [dbo].[SCORE_EXAM] ([SUMSCORE], [SCOREPASS], [SCORE_ID], [EXAM_ID], [MAJOR_ID]) VALUES (CAST(100 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)), 3, 3, 4)
INSERT [dbo].[SEMESTER] ([SEM_ID], [SEMESTERNAME]) VALUES (1, N'Fall')
INSERT [dbo].[SEMESTER] ([SEM_ID], [SEMESTERNAME]) VALUES (2, N'Spring')
INSERT [dbo].[SEMESTER] ([SEM_ID], [SEMESTERNAME]) VALUES (3, N'Summer')
INSERT [dbo].[STAGE] ([STAGE_ID], [SEM_ID], [YEAR_ID], [STAGENAME], [DATETIME], [EXAMDATE], [EXAMTIME], [ENGLISHTIMEEXAM]) VALUES (5, 1, 18, N'Stage 1', CAST(N'2018-10-09 00:00:00.000' AS DateTime), CAST(N'2018-10-09 00:00:00.000' AS DateTime), N'8h15-9h15', N'10h-11h30')
INSERT [dbo].[STAGE] ([STAGE_ID], [SEM_ID], [YEAR_ID], [STAGENAME], [DATETIME], [EXAMDATE], [EXAMTIME], [ENGLISHTIMEEXAM]) VALUES (7, 2, 19, N'Stage 2', CAST(N'2019-02-01 00:00:00.000' AS DateTime), CAST(N'2019-02-02 00:00:00.000' AS DateTime), N'8h15-9h15', N'10h-11h30')
INSERT [dbo].[STAGE] ([STAGE_ID], [SEM_ID], [YEAR_ID], [STAGENAME], [DATETIME], [EXAMDATE], [EXAMTIME], [ENGLISHTIMEEXAM]) VALUES (6, 3, 18, N'Stage 3', CAST(N'2018-06-06 00:00:00.000' AS DateTime), CAST(N'2018-07-06 00:00:00.000' AS DateTime), N'9h-10h', N'10h30-12h')
INSERT [dbo].[STAGEDETAILS] ([STAR_TIME], [END_TIME], [SCORE], [INTERVIEW], [SUBJECT], [STAGE_DETAILS_ID], [ID], [MAJOR_ID], [STAGE_ID], [EXAM_ID]) VALUES (N'8h', N'9h15', CAST(89 AS Decimal(18, 0)), N'90', N'English', 1, 1, 1, 2, 1)
INSERT [dbo].[STAGEDETAILS] ([STAR_TIME], [END_TIME], [SCORE], [INTERVIEW], [SUBJECT], [STAGE_DETAILS_ID], [ID], [MAJOR_ID], [STAGE_ID], [EXAM_ID]) VALUES (N'9h', N'9h30', CAST(78 AS Decimal(18, 0)), N'95', N'Math', 3, 2, 5, 4, 5)
INSERT [dbo].[STAGEDETAILS] ([STAR_TIME], [END_TIME], [SCORE], [INTERVIEW], [SUBJECT], [STAGE_DETAILS_ID], [ID], [MAJOR_ID], [STAGE_ID], [EXAM_ID]) VALUES (N'3h15', N'4h', CAST(89 AS Decimal(18, 0)), N'78', N'Math', 5, 3, 4, 3, 4)
INSERT [dbo].[YEAR] ([YEAR_ID], [YEARNAME]) VALUES (1, 2000)
INSERT [dbo].[YEAR] ([YEAR_ID], [YEARNAME]) VALUES (2, 2001)
INSERT [dbo].[YEAR] ([YEAR_ID], [YEARNAME]) VALUES (3, 2002)
/****** Object:  Index [PK_CANDIDATE]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[CANDIDATE] ADD  CONSTRAINT [PK_CANDIDATE] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS3_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [HAS3_FK] ON [dbo].[CANDIDATE]
(
	[EDUCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HOMETOWN_IN_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [HOMETOWN_IN_FK] ON [dbo].[CANDIDATE]
(
	[DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LIVE_IN_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [LIVE_IN_FK] ON [dbo].[CANDIDATE]
(
	[DIS_DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF1_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [OF1_FK] ON [dbo].[CANDIDATE]
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_21_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_21_FK] ON [dbo].[CANDIDATE]
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_24_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_24_FK] ON [dbo].[CANDIDATE]
(
	[CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_27_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_27_FK] ON [dbo].[CANDIDATE]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_28_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_28_FK] ON [dbo].[CANDIDATE]
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_29_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_29_FK] ON [dbo].[CANDIDATE]
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CANDIDATEDOCUMENT]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[CANDIDATEDOCUMENT] ADD  CONSTRAINT [PK_CANDIDATEDOCUMENT] PRIMARY KEY NONCLUSTERED 
(
	[ID_NOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS8_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [HAS8_FK] ON [dbo].[CANDIDATEDOCUMENT]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF9_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [OF9_FK] ON [dbo].[CANDIDATEDOCUMENT]
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CANDIDATETYPE]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[CANDIDATETYPE] ADD  CONSTRAINT [PK_CANDIDATETYPE] PRIMARY KEY NONCLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CATALOG]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[CATALOG] ADD  CONSTRAINT [PK_CATALOG] PRIMARY KEY NONCLUSTERED 
(
	[CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_COUNTRY]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[COUNTRY] ADD  CONSTRAINT [PK_COUNTRY] PRIMARY KEY NONCLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DISTRICT]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[DISTRICT] ADD  CONSTRAINT [PK_DISTRICT] PRIMARY KEY NONCLUSTERED 
(
	[DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF4_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [OF4_FK] ON [dbo].[DISTRICT]
(
	[PROVINCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DOCUMENT]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[DOCUMENT] ADD  CONSTRAINT [PK_DOCUMENT] PRIMARY KEY NONCLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EDUCATION]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[EDUCATION] ADD  CONSTRAINT [PK_EDUCATION] PRIMARY KEY NONCLUSTERED 
(
	[EDUCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EXAMSUBJECT]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[EXAMSUBJECT] ADD  CONSTRAINT [PK_EXAMSUBJECT] PRIMARY KEY NONCLUSTERED 
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_INTAKE]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[INTAKE] ADD  CONSTRAINT [PK_INTAKE] PRIMARY KEY NONCLUSTERED 
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MAJOR]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[MAJOR] ADD  CONSTRAINT [PK_MAJOR] PRIMARY KEY NONCLUSTERED 
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IN1_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [IN1_FK] ON [dbo].[PARAMETER]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IN2_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [IN2_FK] ON [dbo].[PARAMETER]
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IN3_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [IN3_FK] ON [dbo].[PARAMETER]
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PROVINCE]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[PROVINCE] ADD  CONSTRAINT [PK_PROVINCE] PRIMARY KEY NONCLUSTERED 
(
	[PROVINCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF5_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [OF5_FK] ON [dbo].[PROVINCE]
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SCORE_EXAM]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[SCORE_EXAM] ADD  CONSTRAINT [PK_SCORE_EXAM] PRIMARY KEY NONCLUSTERED 
(
	[SCORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_22_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_22_FK] ON [dbo].[SCORE_EXAM]
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_23_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_23_FK] ON [dbo].[SCORE_EXAM]
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SEMESTER]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[SEMESTER] ADD  CONSTRAINT [PK_SEMESTER] PRIMARY KEY NONCLUSTERED 
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STAGE]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[STAGE] ADD  CONSTRAINT [PK_STAGE] PRIMARY KEY NONCLUSTERED 
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_19_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[STAGE]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_20_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_20_FK] ON [dbo].[STAGE]
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STAGEDETAILS]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[STAGEDETAILS] ADD  CONSTRAINT [PK_STAGEDETAILS] PRIMARY KEY NONCLUSTERED 
(
	[STAGE_DETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_17_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_17_FK] ON [dbo].[STAGEDETAILS]
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_18_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_18_FK] ON [dbo].[STAGEDETAILS]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_25_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_25_FK] ON [dbo].[STAGEDETAILS]
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_26_FK]    Script Date: 2/24/2019 7:25:38 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_26_FK] ON [dbo].[STAGEDETAILS]
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_YEAR]    Script Date: 2/24/2019 7:25:38 PM ******/
ALTER TABLE [dbo].[YEAR] ADD  CONSTRAINT [PK_YEAR] PRIMARY KEY NONCLUSTERED 
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HAS3_EDUCATIO] FOREIGN KEY([EDUCATION_ID])
REFERENCES [dbo].[EDUCATION] ([EDUCATION_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_HAS3_EDUCATIO]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HOMETOWN__DISTRICT] FOREIGN KEY([DISTRICT_ID])
REFERENCES [dbo].[DISTRICT] ([DISTRICT_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_HOMETOWN__DISTRICT]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_LIVE_IN_DISTRICT] FOREIGN KEY([DIS_DISTRICT_ID])
REFERENCES [dbo].[DISTRICT] ([DISTRICT_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_LIVE_IN_DISTRICT]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_OF1_CANDIDAT] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[CANDIDATETYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_OF1_CANDIDAT]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_CATALOG] FOREIGN KEY([CATALOG_ID])
REFERENCES [dbo].[CATALOG] ([CATALOG_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_CATALOG]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_INTAKE] FOREIGN KEY([INTAKE_ID])
REFERENCES [dbo].[INTAKE] ([INTAKE_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_INTAKE]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_SEMESTER]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_YEAR]
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HAS8_CANDIDAT] FOREIGN KEY([ID])
REFERENCES [dbo].[CANDIDATE] ([ID])
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT] CHECK CONSTRAINT [FK_CANDIDAT_HAS8_CANDIDAT]
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_OF9_DOCUMENT] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[DOCUMENT] ([DOC_ID])
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT] CHECK CONSTRAINT [FK_CANDIDAT_OF9_DOCUMENT]
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD  CONSTRAINT [FK_DISTRICT_OF4_PROVINCE] FOREIGN KEY([PROVINCE_ID])
REFERENCES [dbo].[PROVINCE] ([PROVINCE_ID])
GO
ALTER TABLE [dbo].[DISTRICT] CHECK CONSTRAINT [FK_DISTRICT_OF4_PROVINCE]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN1_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN1_YEAR]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN2_INTAKE] FOREIGN KEY([INTAKE_ID])
REFERENCES [dbo].[INTAKE] ([INTAKE_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN2_INTAKE]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN3_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN3_SEMESTER]
GO
ALTER TABLE [dbo].[PROVINCE]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCE_OF5_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[PROVINCE] CHECK CONSTRAINT [FK_PROVINCE_OF5_COUNTRY]
GO
ALTER TABLE [dbo].[SCORE_EXAM]  WITH CHECK ADD  CONSTRAINT [FK_SCORE_EX_RELATIONS_EXAMSUBJ] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[EXAMSUBJECT] ([EXAM_ID])
GO
ALTER TABLE [dbo].[SCORE_EXAM] CHECK CONSTRAINT [FK_SCORE_EX_RELATIONS_EXAMSUBJ]
GO
ALTER TABLE [dbo].[SCORE_EXAM]  WITH CHECK ADD  CONSTRAINT [FK_SCORE_EX_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[SCORE_EXAM] CHECK CONSTRAINT [FK_SCORE_EX_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[STAGE]  WITH CHECK ADD  CONSTRAINT [FK_STAGE_RELATIONS_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[STAGE] CHECK CONSTRAINT [FK_STAGE_RELATIONS_SEMESTER]
GO
ALTER TABLE [dbo].[STAGE]  WITH CHECK ADD  CONSTRAINT [FK_STAGE_RELATIONS_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[STAGE] CHECK CONSTRAINT [FK_STAGE_RELATIONS_YEAR]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_CANDIDAT] FOREIGN KEY([ID])
REFERENCES [dbo].[CANDIDATE] ([ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_CANDIDAT]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_EXAMSUBJ] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[EXAMSUBJECT] ([EXAM_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_EXAMSUBJ]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_STAGE] FOREIGN KEY([STAGE_ID])
REFERENCES [dbo].[STAGE] ([STAGE_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_STAGE]
GO
USE [master]
GO
