USE [SaigonTech]
GO
/****** Object:  Table [dbo].[CANDIDATE]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANDIDATE](
	[ID] [int] NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
	[CATALOG_ID] [int] NOT NULL,
	[DISTRICT_ID] [int] NOT NULL,
	[EDUCATION_ID] [int] NOT NULL,
	[YEAR_ID] [int] NULL,
	[TYPE_ID] [int] NOT NULL,
	[INTAKE_ID] [int] NOT NULL,
	[SEM_ID] [int] NULL,
	[DIS_DISTRICT_ID] [int] NOT NULL,
	[CANDIDATE_ID] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](100) NOT NULL,
	[FIRSTNAME] [varchar](100) NOT NULL,
	[BIRTHDAY] [datetime] NOT NULL,
	[GENDER] [int] NOT NULL,
	[PHONENUMBER] [varchar](10) NOT NULL,
	[ADDRESS] [varchar](200) NULL,
	[MARITALSTATUS] [int] NULL,
	[HIGHSCHOOLNAME] [varchar](200) NULL,
	[HIGHSCHOOLCITY] [varchar](200) NULL,
	[GRADUATEYEAR] [int] NULL,
	[REGISTRYDATE] [datetime] NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[IDCARD] [varchar](20) NOT NULL,
	[FINALRESULT] [bit] NULL,
	[DOCUMENTCODE] [varchar](50) NULL,
 CONSTRAINT [PK_CANDIDATE] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANDIDATEDOCUMENT]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATEDOCUMENT](
	[NOTE] [text] NULL,
	[ID_NOTE] [numeric](11, 0) IDENTITY(1,1) NOT NULL,
	[DOC_ID] [int] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_CANDIDATEDOCUMENT] PRIMARY KEY NONCLUSTERED 
(
	[ID_NOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CANDIDATETYPE]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANDIDATETYPE](
	[TYPE_ID] [int] NOT NULL,
	[TYPENAME] [varchar](200) NOT NULL,
 CONSTRAINT [PK_CANDIDATETYPE] PRIMARY KEY NONCLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATALOG]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOG](
	[CATALOG_ID] [int] NOT NULL,
	[BEGINYEAR] [int] NOT NULL,
	[ENDYEAR] [int] NOT NULL,
 CONSTRAINT [PK_CATALOG] PRIMARY KEY NONCLUSTERED 
(
	[CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[COUNTRY_ID] [int] NOT NULL,
	[COUNTRYNAME] [varchar](200) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY NONCLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[DISTRICT_ID] [int] NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
	[DISTRICTNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DISTRICT] PRIMARY KEY NONCLUSTERED 
(
	[DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[DOC_ID] [int] NOT NULL,
	[NAMEINENGLISH] [varchar](100) NOT NULL,
	[NAMEINVIETNAMESE] [varchar](100) NOT NULL,
	[SEQUENCENUM] [int] NOT NULL,
	[INPUTTYPE] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[NOTE] [text] NULL,
 CONSTRAINT [PK_DOCUMENT] PRIMARY KEY NONCLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EDUCATION]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EDUCATION](
	[EDUCATION_ID] [int] NOT NULL,
	[EDUCATIONNAME] [varchar](200) NOT NULL,
 CONSTRAINT [PK_EDUCATION] PRIMARY KEY NONCLUSTERED 
(
	[EDUCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXAMSUBJECT]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXAMSUBJECT](
	[EXAM_ID] [int] NOT NULL,
	[EXAMNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_EXAMSUBJECT] PRIMARY KEY NONCLUSTERED 
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INTAKE]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTAKE](
	[INTAKE_ID] [int] NOT NULL,
	[INTAKENAME] [varchar](200) NOT NULL,
 CONSTRAINT [PK_INTAKE] PRIMARY KEY NONCLUSTERED 
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAJOR]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAJOR](
	[MAJOR_ID] [int] NOT NULL,
	[MAJOR_NAME] [varchar](200) NULL,
 CONSTRAINT [PK_MAJOR] PRIMARY KEY NONCLUSTERED 
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARAMETER]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETER](
	[YEAR_ID] [int] NOT NULL,
	[SEM_ID] [int] NOT NULL,
	[INTAKE_ID] [int] NOT NULL,
	[SIGNATURENAME] [varchar](200) NOT NULL,
	[MORECONTACT] [varchar](200) NOT NULL,
	[DOCUMENTCODE] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVINCE]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCE](
	[PROVINCE_ID] [int] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[PROVINCENAME] [varchar](200) NOT NULL,
 CONSTRAINT [PK_PROVINCE] PRIMARY KEY NONCLUSTERED 
(
	[PROVINCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCORE_EXAM]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE_EXAM](
	[SUMSCORE] [decimal](18, 0) NULL,
	[SCOREPASS] [decimal](18, 0) NULL,
	[SCORE_ID] [int] NOT NULL,
	[EXAM_ID] [int] NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
 CONSTRAINT [PK_SCORE_EXAM] PRIMARY KEY NONCLUSTERED 
(
	[SCORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[SEM_ID] [int] NOT NULL,
	[SEMESTERNAME] [varchar](200) NOT NULL,
 CONSTRAINT [PK_SEMESTER] PRIMARY KEY NONCLUSTERED 
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAGE]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAGE](
	[STAGE_ID] [int] NOT NULL,
	[SEM_ID] [int] NOT NULL,
	[YEAR_ID] [int] NOT NULL,
	[STAGENAME] [varchar](200) NOT NULL,
	[DATETIME] [datetime] NOT NULL,
	[EXAMDATE] [datetime] NOT NULL,
	[EXAMTIME] [varchar](50) NOT NULL,
	[ENGLISHTIMEEXAM] [varchar](20) NULL,
 CONSTRAINT [PK_STAGE] PRIMARY KEY NONCLUSTERED 
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAGEDETAILS]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAGEDETAILS](
	[STAR_TIME] [varchar](50) NOT NULL,
	[END_TIME] [varchar](50) NOT NULL,
	[SCORE] [decimal](18, 0) NOT NULL,
	[INTERVIEW] [varchar](200) NULL,
	[SUBJECT] [varchar](200) NOT NULL,
	[STAGE_DETAILS_ID] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
	[STAGE_ID] [int] NOT NULL,
	[EXAM_ID] [int] NOT NULL,
 CONSTRAINT [PK_STAGEDETAILS] PRIMARY KEY NONCLUSTERED 
(
	[STAGE_DETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YEAR]    Script Date: 2/24/2019 6:11:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEAR](
	[YEAR_ID] [int] NOT NULL,
	[YEARNAME] [int] NOT NULL,
 CONSTRAINT [PK_YEAR] PRIMARY KEY NONCLUSTERED 
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HAS3_EDUCATIO] FOREIGN KEY([EDUCATION_ID])
REFERENCES [dbo].[EDUCATION] ([EDUCATION_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_HAS3_EDUCATIO]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HOMETOWN__DISTRICT] FOREIGN KEY([DISTRICT_ID])
REFERENCES [dbo].[DISTRICT] ([DISTRICT_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_HOMETOWN__DISTRICT]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_LIVE_IN_DISTRICT] FOREIGN KEY([DIS_DISTRICT_ID])
REFERENCES [dbo].[DISTRICT] ([DISTRICT_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_LIVE_IN_DISTRICT]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_OF1_CANDIDAT] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[CANDIDATETYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_OF1_CANDIDAT]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_CATALOG] FOREIGN KEY([CATALOG_ID])
REFERENCES [dbo].[CATALOG] ([CATALOG_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_CATALOG]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_INTAKE] FOREIGN KEY([INTAKE_ID])
REFERENCES [dbo].[INTAKE] ([INTAKE_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_INTAKE]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_SEMESTER]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_YEAR]
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HAS8_CANDIDAT] FOREIGN KEY([ID])
REFERENCES [dbo].[CANDIDATE] ([ID])
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT] CHECK CONSTRAINT [FK_CANDIDAT_HAS8_CANDIDAT]
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_OF9_DOCUMENT] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[DOCUMENT] ([DOC_ID])
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT] CHECK CONSTRAINT [FK_CANDIDAT_OF9_DOCUMENT]
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD  CONSTRAINT [FK_DISTRICT_OF4_PROVINCE] FOREIGN KEY([PROVINCE_ID])
REFERENCES [dbo].[PROVINCE] ([PROVINCE_ID])
GO
ALTER TABLE [dbo].[DISTRICT] CHECK CONSTRAINT [FK_DISTRICT_OF4_PROVINCE]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN1_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN1_YEAR]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN2_INTAKE] FOREIGN KEY([INTAKE_ID])
REFERENCES [dbo].[INTAKE] ([INTAKE_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN2_INTAKE]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN3_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN3_SEMESTER]
GO
ALTER TABLE [dbo].[PROVINCE]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCE_OF5_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[PROVINCE] CHECK CONSTRAINT [FK_PROVINCE_OF5_COUNTRY]
GO
ALTER TABLE [dbo].[SCORE_EXAM]  WITH CHECK ADD  CONSTRAINT [FK_SCORE_EX_RELATIONS_EXAMSUBJ] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[EXAMSUBJECT] ([EXAM_ID])
GO
ALTER TABLE [dbo].[SCORE_EXAM] CHECK CONSTRAINT [FK_SCORE_EX_RELATIONS_EXAMSUBJ]
GO
ALTER TABLE [dbo].[SCORE_EXAM]  WITH CHECK ADD  CONSTRAINT [FK_SCORE_EX_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[SCORE_EXAM] CHECK CONSTRAINT [FK_SCORE_EX_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[STAGE]  WITH CHECK ADD  CONSTRAINT [FK_STAGE_RELATIONS_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[STAGE] CHECK CONSTRAINT [FK_STAGE_RELATIONS_SEMESTER]
GO
ALTER TABLE [dbo].[STAGE]  WITH CHECK ADD  CONSTRAINT [FK_STAGE_RELATIONS_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[STAGE] CHECK CONSTRAINT [FK_STAGE_RELATIONS_YEAR]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_CANDIDAT] FOREIGN KEY([ID])
REFERENCES [dbo].[CANDIDATE] ([ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_CANDIDAT]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_EXAMSUBJ] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[EXAMSUBJECT] ([EXAM_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_EXAMSUBJ]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_STAGE] FOREIGN KEY([STAGE_ID])
REFERENCES [dbo].[STAGE] ([STAGE_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_STAGE]
GO
